# root project 설정
root = true

# 모든 파일 기본 설정
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Kotlin 소스 (.kt, .kts)
[*.{kt,kts}]
indent_size = 4
max_line_length = 120

# Java 소스
[*.java]
indent_size = 4
max_line_length = 120

# Markdown 문서 (.md)
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

# YAML 파일 (예: application.yml)
[*.yml]
indent_size = 2

# JSON 파일
[*.json]
indent_size = 2
