# ========================
# Kotlin + Gradle 기본 설정
# ========================

# Gradle
.gradle/
build/
out/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Kotlin Compiler Cache
**/build/
**/.kotlin_module

# Spotless / ktlint / detekt
.detekt-baseline.xml
.idea/**/spotless*
.idea/**/detekt*
.idea/**/ktlint*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Log & Temp
*.log
*.tmp

# Kotlin Script
*.kts~  # IntelliJ의 temp 파일

# Avro Generated Code
build/generated-main-avro-java/

# Ktlint or Spotless generated backup
*.bak

# Mac/Linux 실행 파일 권한 부여된 script
*.sh~

# Windows-specific
*.bat~
